
.CartPageTitle{

    overflow: scroll;
    background-color: white;

    h1{
    color: black;
    position: absolute;
    left: 55%;
    top: 2%;
    font-size: 30px;
    }

    #headerLine{
        position: absolute;
        width: 70%;
        top:7%;
        right: 4%;
        border: 1px solid rgb(105,105,105);
    }

    #headerLine2{
        position: absolute;
        width: 70%;
        top: 60%;
        right: 4%;
        border: 1px solid rgb(105,105,105);
    }


    #someThingExtraTitle{
            position: absolute;
            top: 60%;
            display: block;
            text-align:right;
            left: 30%;

    }

    #somethingExtraContent{
        margin-top: 40%;
    }

    #somethingExtra-container {
        display: grid;
        grid-template-columns: 120px 120px 120px 120px;
        grid-gap: 15px;
        padding: 10px;
        padding-top: 45%;
        margin-left: 40%;
        border: 2px solid black;
    }

    #somethingExtra-container > div {
        background-color: aqua;
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
        border: 2px solid black;
    }

}