
.CartPageTitle{

    overflow: scroll;
    background-color: white;

    h1{
    color: black;
    position: absolute;
    left: 55%;
    top: 2%;
    font-size: 30px;
    }
    .pizzaContainer {

        display: grid;
        grid-gap: 75%;
        margin-top: 5%;
    
    }

    .PizzaTitle{
        color: black;
        position:absolute;
        right: 50%;
    }

    .pizzaImage{

        position: absolute;
        left: 30%;
        
    }

    .box{
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 20px 20px 20px 40px;
        width: 50px;
        margin-left: 77%;
        grid-auto-flow:column;

    }
    .box >div{
        background-color: black;
    }

   

    #headerLine{
        position: absolute;
        width: 65%;
        top:7%;
        right: 8%;
        border: 1px solid rgb(105,105,105);
    }

    #headerLine2{
        position: absolute;
        width: 65%;
        top: 40%;
        right: 8%;
        border: 1px solid rgb(105,105,105);
    }
    #headerLine3{
        position: absolute;
        width: 65%;
        top: 120%;
        right: 8%;
        border: 1px solid rgb(105,105,105);
    }


    #someThingExtraTitle{
            position: absolute;
            top: 52%;
            display: block;
            text-align:right;
            left: 35%;
    }

    #somethingExtraContent{
        margin-top: 40%;
    }

    #somethingExtra-container {
        display: grid;
        grid-template-columns: 130px 130px 130px ;
        grid-gap: 30px;
        height: 15rem;
        padding: 1px;
        padding-top: 1%;
        width: 40%;
        margin-left: 10%;
        margin-top: 30%;
        text-align: center;
    }

    #somethingExtra-container > div {
        color: black;
        border: solid 2px black;
        display: block;
        gap: 10px;
        gap: 10px 20px;
        row-gap: 10px;
        column-gap: 20px;
        justify-content: center;
        border-radius: 20px;
        
    }
    .extraContainer{
        text-align: center;
        height: 500px;
    }

    }  
     /* Portrait and Landscape iPhone */

    @media only screen and (max-width: 768px) {
        .CartPageTitle #someThingExtraTitle {
            top: 47%;
            left: 40%;
        }
        .CartPageTitle #headerLine3{
            top: 169%;
            right: 4%;
        }
       ;
        .CartPageTitle #headerLine2 {
            top: 48%;
            right: 4%;
        }
        .CartPageTitle #headerLine {
            right: 4%;
        }
        .CartPageTitle .pizzaImage {
            width: 75px;
        }


        .CartPageTitle #somethingExtra-container{
            grid-template-columns: 150px;
            margin-top: 81%;
            margin-left: 27%;

           }
           .CartPageTitle .PizzaTitle {
            display: none;
        }
        .CartPageTitle .box {
            margin-left: 53%;
        }
    #CartPageTitle {
        left: 45%
    
    }
   
    #someThingExtraTitle {
        width: 20%;
        left: 28%;
    }
    .pickUp { 
        bottom: 10.5rem;
        margin-left: 8%;
    }
    .deliverytext{
        color: transparent;
    }
    .PickUpText{
        color: transparent;
    }
   .delivery{
    left: 16%;
    top: -4rem;
   }
}

  


    /* Portrait and Landscape iPad */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        

        .CartPageTitle.box{
            top: 10%;
        }

        .CartPageTitle #headerLine3{
            top: 125%;
          
            width: 60%;
        }    
        .CartPageTitle #headerLine{
            width: 60%;
        }    

        .CartPageTitle #headerLine2{
            width: 60%;
            top: 35%;
        }    


        .CartPageTitle .container{
            margin-top: 40%;
        }

        .CartPageTitle #somethingExtra-container{
            grid-template-columns: 110px 110px 110px;
            margin-top: 55%;
            margin-left: 18%;
            
           }

           .CartPageTitle .PizzaTitle{
            left: 40%;
        }

        .CartPageTitle #someThingExtraTitle{
            top: 36%;
        }

    }


    .pickUp {
        
        bottom: 10.5rem; 
        margin-left: 8%;

    }
    .deliverytext{
        color: transparent;
    }
    .PickUpText{
        color: transparent;
    }


   .container {
       position: none;
       padding-top: 22rem;
   }



   
      
