.main-footer{

    position: relative;
    color: red;
    background-color: red;
    position: relative;
    margin-bottom:40%;
    right: 10%;
    width: 100%;
}


.logo{
    position: relative;
    left: 25%;
    top: 1rem;
}
.pickUp{
    position: relative;
    left:65%;
    bottom: 5rem;
}
.deliverytext{
    position: relative;
    font-size:large;
    color: black;
    left: 35%;
    bottom: 1.3rem;
    width: 10px;
}
.PickUpText{
    position: relative;
    font-size:large;
    color: black;
    left: 75%;
    bottom: 2.5rem;
    width: 10px;

}
