.main-footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.delivery{
    position: relative;
    left: 25%;
    top: 4.6rem;
}
.pickUp{
    position: relative;
    left:60%;
    bottom: 1rem;
}
.deliverytext{
    position: relative;
    font-size:large;
    color: black;
    left: 40%;
    bottom: -2.2rem;
    width: 10px;
}
.PickUpText{
    position: relative;
    font-size:large;
    color: black;
    left: 70%;
    bottom: -1rem;
    width: 10px;
}

    /* Portrait and Landscape iPad */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {

       .CartPageTitle .container{
           color: red;
       }
    }

