.main-footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.delivery{
    position: relative;
    left: 25%;
    top: 4.6rem;
}
.pickUp{
    position: relative;
    left:65%;
    bottom: 1rem;
}
.deliverytext{
    position: relative;
    font-size:large;
    color: black;
    left: 35%;
    bottom: -2.2rem;
    width: 10px;
}
.PickUpText{
    position: relative;
    font-size:large;
    color: black;
    left: 72%;
    bottom: -1rem;
    width: 10px;
}
