
.LandingPage{
    min-height: 100vh;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    .landingText{
            font-size: smaller;
            padding-top: 170px;
            padding-left: 130px;
        
    }  

    .LandingText{
        padding-top: 100px;
        padding-left: 140px;
    }
}

.product-button{
    color: rgb(255, 255, 255);
}
.cart-button{
    color: rgb(255, 255, 255);
  
}


@media screen and (max-width: 768px) {
    
/* for iPhone */
.LandingPage .LandingText {
    padding-top: 100px;
    padding-left: 50px;
    font-size: 10px;
    
}
.product-button{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.cart-button{
    color: rgb(255, 255, 255);
    font-size: 15px;

  
}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    /* for iPad */
    .LandingPage .LandingText {
        padding-top: 100px;
        padding-left: 100px;
        font-size: 20px;
        
    }
    .product-button{
        color: rgb(255, 255, 255);
        font-size: larger;
    }
    .cart-button{
        color: rgb(255, 255, 255);
        font-size: larger;
    
      
    }
}




