
.LandingPage{
<<<<<<< HEAD
    position: absolute;
    top:30%;
    left: 40%;
    

<<<<<<< HEAD

=======
}
=======
        width: 85%;
        margin-left: 25%;
        background-color: rgb(95, 95, 95);
        min-height: 100vh;
        background-image: url("../img/background.jpg");
        display: grid;
    }
>>>>>>> a00c67fb94f51257a2111c677224136abcba693e
>>>>>>> 7f7862f121b963288e868a44f01abb1ac061a68b

.landingText{
    span{
        background-color: aliceblue;
        font-size: smaller;
    }
}

    .orderButton{ 
    border: none;
    color: rgb(119, 2, 2);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    }


        
}