.productPage {
    display: flex;
    color: black;
}

.mainClassContainer{
    width: 70%;
}

.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding-bottom: 100%;
}

.itemCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // height: 600px;
}

//THE ITEMCARD
.itemCardContent {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    margin: 4px;
    border-radius: 4px;
    width: 200px;
    padding: 24px;
}

.itemCardImage {
    align-self: center;
    height: 8rem;
    width: 8rem;
}

.itemCardName {
    color: black;
    text-align: center;
    font-family:'fantasy';

}

.itemCardPrice {
    text-align: center;
    font-family:'fantasy';

}

.itemCardButton{
    font-family:'fantasy';
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    margin: 16px;
    width: 120px;
    cursor: pointer;
}

.itemCardButton:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.filterButton{
    font-family:'fantasy';
    background-color: #000000; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    margin: 4px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

button.add{
    background-color: black;
    color: white;
    border: none;
    width: 1.5rem;
    margin: 1px;
}

button.remove{
    background-color: white;
    color: black;
    border: 1px black solid;
    width: 1.5rem;
    margin: 1px;
}

button.badge{
    background-color: red;
    border: none;
    color: red;
    width: 1.5rem;
}

.cartProductContent{
    display: flex;
    justify-content: end;

    div{
        margin: 4px;
    }
}

.sum{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  /* For iPhone x: */
    .productPage {
        justify-content: center;
        text-align: center;
    }

    .productContainer {
        margin-top: 280px;
    }

    .cartContainer {
        position: absolute;
        margin-top: 110px;
        font-size: 14px;
        margin-left: 26px;
    }   

    .nav-item {
        font-size: 13px;
    }
}

/* Portrait and Landscape iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .productPage {
        justify-content: center;
        text-align: center;
    }

    .cartContainer {
        position: absolute;
        margin-top: 80px;
        font-size: 17px;
    }   
}

@media only screen and (min-width: 768px) and (max-width: 1133px) {
/* Responsive */
    .productContainer {
        margin-top: 280px;
    }

    .productPage {
        justify-content: center;
        text-align: center;
    }

    .cartContainer {
        position: absolute;
        margin-top: 80px;
        font-size: 17px;
    }   
}