.productPage {
    display: flex;
    color: black;
}

.mainClassContainer{
    width: 70%;
}

.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.itemCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // height: 600px;
}

//THE ITEMCARD
.itemCardContent {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    margin: 4px;
    border-radius: 4px;
    width: 200px;
    padding: 24px;
}

.itemCardImage {
    align-self: center;
    height: 8rem;
    width: 8rem;
}

.itemCardName {
    color: black;
    text-align: center;
    font-family:'fantasy';

}

.itemCardPrice {
    text-align: center;
    font-family:'fantasy';

}

.itemCardButton{
    font-family:'fantasy';
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    margin: 16px;
    width: 120px;
}

.filterButton{
    font-family:'fantasy';
    background-color: #000000; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    margin: 4px;
    width: 200px;
    height: 30px;
}

button.add{
    background-color: black;
    color: white;
    border: none;
    width: 1.5rem;
    margin: 1px;
}

button.remove{
    background-color: grey;
    color: black;
    border: none;
    width: 1.5rem;
    margin: 1px;
}

button.badge{
    background-color: red;
    border: none;
    color: red;
    width: 1.5rem;
}

.cartProductContent{
    display: flex;
    justify-content: end;

    div{
        margin: 4px;
    }
}

.sum{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 812px) {
  /* For iPhone x: */
    // .cartContainer {
    //     position: absolute;
    //     padding-top: 105px;
    //     padding-left: 10px;
    // }

    // .productContainer {
    //     padding-top: 300px;
    // }

    // .mainClassContainer {
    //     padding-left: 10px;
    // }

    // .smallScreenButton {
    //     margin-left: 80px;
    // }
    // .cartProductContent {
    //     font-size: 12px;
    //     padding-right: 35px;
    // }
    .productContainer {
        margin-top: 300px;
    }

    .cartContainer {
        position: absolute;
        margin-top: 120px;
        padding-left: 10px;
    }

    .smallScreenButton {
        margin-left: 50px;
    }

    .cartProductContent {
        font-size: 12px;
        padding-right: 35px;
    }

    // .mainClassContainer {
    //     margin-left: 15px;
    // }

    .nav-item {
        font-size: 17px;
    }

    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* For ipad: */
    .mainClassContainer {
        margin-left: 80px;
    }

    .cartContainer {
        margin-top: 85px;
        margin-left: 180px;
    }
}

@media only screen and (min-width: 812px) and (max-width: 1085px) {
    /* For iPad Pro: */
    .cartContainer {
       margin-top: 0px;
       margin-left: 0px;
    }

    .mainClassContainer {
        margin-left: 0px;
    }

    .cartProductContent {
        font-size: 12px;
    }

// //     .cartProductContent div {
// //         font-size: 12px;
// //     }

// //     .remove {
// //         width: 1rem;
// //     }

// //     .add {
// //         width: 1rem;
// //     }

// //     .buttonContainer {
// //         font-size: 10px;
// //     }
}