@import './styles/layout';
@import './styles/navbar';
@import './styles/landingTypo';
@import './styles/ProductPage';
@import './styles/footer';

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body
{
color: rgb(255, 255, 255);
font-family: 'Courier New', Courier, monospace;
font-size: 1.2rem;

}

  