@import './styles/layout';
@import './styles/navbar';
@import './styles/landingTypo';
<<<<<<< HEAD
@import './styles/CartPage';
=======
@import './styles/ProductPage';
@import './styles/footer';
>>>>>>> d3d5dbd133f18d4a396985a390675644f3b02a30

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body
{
color: rgb(255, 255, 255);
font-family: 'Courier New', Courier, monospace;
font-size: 1.2rem;

}

  